
.small-input {
    width: 200px; 
}
.btn-custom {
    background-color: #1d8bcb;
    color: white; 
    border: none;
    padding: 10px 20px; 

}
.not-found
{
    color: red;
    border-color: red;
    padding: 10px 20px;
    margin:10px 20px;
    border-radius: 7px;
    border: 2px solid;
}
