body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.word {
    color: #007BFF;
    font-family: 'Arial', sans-serif;
    font-weight: bold; 
}

.list-group-item {
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
    border-radius: 10px;
}

