{% extends "base.htm" %}
{% block title %} {{ title_of_page }} {% endblock %}
{% block body %}
<div class="container mt-5 d-flex justify-content-center align-items-center h-100">
    <div>
        <h1 class="text-center">Vehicle Plate Form</h1>
        <h5 class="text-center">Enter Vehicle Plate to find the car owner</h5>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.VehiclePlate.label }}
                {{ form.VehiclePlate(class="form-control small-input", id="vehiclePlate", placeholder="Enter Vehicle Plate") }}
            </div>
            <button type="submit" class="btn btn-primary">Search Owner</button>
        </form>
    </div>
</div>
{% endblock %}
